
    <h1>Ini Halaman Contact!</h1>

    <table border="1" style="margin-left: 50px;">
        <tr>
                <th>Nama</th>
                <th>No Telp</th>
        </tr>

        <% if (febChar.length) { %>
        <% febChar.forEach( function( eachContact) { %>
        <tr>
                <td><%= eachContact.nama %></td>
                <td><%= eachContact.tlp %></td>
        </tr>
        <% }) %>
        <% } else { %>
            <tr>
                <td colspan="2">Data tidak ditemukan</td>
            </tr>
        <% } %>
    </table>
