<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ini Halaman Contact!</h1>

    <table>
        <tr>
                <th>Nama</th>
                <th>No Telp</th>
        </tr>

        <% if (febChar.length) { %>
        <% febChar.forEach( function( eachContact) { %>
        <tr>
                <td><%= eachContact.nama %></td>
                <td><%= eachContact.tlp %></td>
        </tr>
        <% }) %>
        <% } else { %>
            <tr>
                <td>Data tidak ditemukan</td>
            </tr>
        <% } %>
    </table>
</body>
</html>